<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Unit">
            <directory>Test/Unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>Api</directory>
            <directory>Model</directory>
            <directory>Controller</directory>
            <directory>Console</directory>
        </include>
    </source>
</phpunit>
